.search,
.search-result {
    width: 361px;
}

.search {
    position: relative;
    height: var(--search-hight, 46px);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-boder-radius, 92px);
    padding-left: 16px;
    display: flex;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        padding-right: 40px;
        color: var(--black, #000);
        font-size: 1.6rem;
        background-color: transparent;
        caret-color: var(--primary, #fe2c55);
        font-family: var(--font-family);
    }

    // Nếu placeholder không được hiển thị thì màu của icon search sẽ thay đổi
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer, 9px);
        right: var(--search-btn-width, 52px);
        width: 1px;
        height: calc(var(--search-hight, 46px) - var(--search-top-spacer, 9px) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-btn-width, 52px) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.loading {
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
    
}

.search-btn {
    width: var(--search-btn-width, 52px);
    height: 100%;
    border-top-right-radius: var(--search-boder-radius, 92px);
    border-bottom-right-radius: var(--search-boder-radius, 92px);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}